<table>
    <thead>
        <th>Post ID</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Comment</th>
        <th>Commented_By</th>
    </thead>
    <tbody>
      
        <tr>
            <td>
                <a href="/friends/{{Post_ID}}">{{abc.Post_ID}}</a>
            </td>
            <td>{{abc.Post_Body}}</td>
       
        </tr>
    

    </tbody>
    
</table>

{{!-- const records = {
    post : 'sfkgndkfnhg'
} --}}