
    <div class="bodywrapper">
        <div class="welcome">
            <section class="headerwrapper">
                <div>Welcome to</div>
                <div class="socialspark">Social Spark</div>
            </section>
            <section class="buttonwrapper">
                <div class="signup">
                    <h1>Not a member?</h1>
                    <h2><a href="/login">Log in</a></h2>
                </div>
            </section>
        </div>
        <form action="/login" method="POST">
        <h1>Log in</h1>
        <fieldset>
            <label for="email">Email</label>
            <input type="text" name="username" placeholder="email" id="email">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password">
            <div class="formSubmitButton">
                <input type="submit">
            </div>
        </fieldset>
        </form>
    </div>